In [6]:
import mysql.connector

mydb1 = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Walking@123"
)

print(mydb1)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000215498FCCD0>

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Walking@123"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase_mydb")

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Walking@123",
  database="mydatabase_mydb"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Walking@123",
  database="mydatabase_mydb"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
# val = ("Nanhi", "Bihar")
# val = ("Kusum", "Bihar")
val = ("Mushkan", "Bihar")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Walking@123",
  database="mydatabase_mydb"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ("Lipika jha", "Saharsa"),
  ("Prithibha", "Nepal"),
  ("Naina","Hyd"),
  ("Shifa","UP"),
  ("Sirisha","AP")
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

5 was inserted.